# urlite application config

app_name = "urlite"
run_mode = "DEV"

[owner]
name	 = "Jeevanandam M"
organization = "Urlite"

[http]
http_ip = "127.0.0.1"
http_port = "3000"

[cookie]
mac_secret = "ZPrTL3k6NIEzOjCIX4nWHAwVUgLO-E-W55dFyHRj5O0=" # you can use 'tools/generate_password' to get one
secure     = false

[database]
type	 = "mongo"
hosts	 = "localhost:27017"	# List of Comma seperated host:port values
db_name	 = "urlite"
sync_link_num_interval = 4      # In minutes

[csrf]
key    = "csrf_token"
cookie = "XSRF-TOKEN"
header = "X-XSRF-TOKEN"
