{{define "sidebar"}}
<div class="col-sm-3 col-md-2 sidebar admin-min-height">
	<ul class="nav nav-sidebar">
	{{if .User.IsAdmin}}
		<li {{if .IsUrlites}}class="active"{{end}}>
			<a href="/admin/urlites">Your Urlites{{if .IsUrlites}} <span class="sr-only">(current)</span>{{end}}</a>
		</li>
		<li {{if .IsDomains}}class="active"{{end}}>			
			<a href="/admin/domains">Domains{{if .IsDomains}} <span class="sr-only">(current)</span>{{end}}<span id="domainCount" class="badge pull-right">{{.DomainCount}}</span></a>
		</li>
		<li {{if .IsUsers}}class="active"{{end}}>			
			<a href="/admin/users">Users{{if .IsUsers}} <span class="sr-only">(current)</span>{{end}}<span id="userCount" class="badge pull-right">{{.UserCount}}</span></a>
		</li>
	{{else}}
		<li {{if .IsUserUrlites}}class="active"{{end}}>
			<a href="/urlites">Your Urlites{{if .IsUserUrlites}} <span class="sr-only">(current)</span>{{end}}</a>
		</li>
	{{end}}
		<li {{if .IsProfile}}class="active"{{end}}>
			<a href="/profile">Profile</a>
		</li>
	</ul>
</div> <!--/.sidebar -->
{{end}}