{{define "domains"}}
<div class="row admin">
    <div id="alert_container"></div>
    <div class="panel panel-default panel-pad">
        <div class="panel-body admin-min-height">
        	<div class="row">
        		{{template "sidebar" .}}
		        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-0 main">
                    <div class="page-header domain-pg-hdr">
		        	 <h2>Domains
                         <div class="nav-form pull-right" style="margin-top:-5px">
                            <button type="button" class="btn btn-default btn-sm btn-urlite-g" id="addDomain" style="width:65px">Add</button>
                         </div>
                     </h2>                     
                    </div>
		        	<div class="dcontent">
                        <table id="domainsTable"
                               data-toggle="table"                               
                               data-classes="table table-no-bordered table-striped table-hover"
                               data-response-handler="domainRequestHandler"
                               data-url="/api/stats">
                            <thead>
                            <tr>
                                <th data-field="name" data-width="280px">Name</th>
                                <th data-field="total" data-width="280px">Total Urlite</th>
                                <th data-field="urlite" data-width="170px">Urlite</th>
                                <th data-field="custom_urlite" data-width="170px">Custom Urlite</th>
                            </tr>
                            </thead>
                        </table>
		        	</div><!--/.dcontent -->
		        </div> <!--/.main -->
        	</div>
        </div> <!--/.panel-body -->
    </div>
</div>
<div class="modal fade" id="domainAddModal" tabindex="-1" role="dialog" aria-labelledby="domainAddModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="domainAddModalLabel">Adding a new Domain</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div id="modal_alert"></div>
            <form id="domainForm" method="post" class="form-horizontal">
                <div class="form-group has-feedback">
                    <label for="dName" class="col-sm-4 control-label">Domain Name</label>
                    <div class="col-sm-7">
                        <input type="text" data-minlength="4" class="form-control" id="dName" name="dName" placeholder="Domain Name" data-remote-error="Domain already exists" data-error="Minimum 4 characters!" data-remote="/admin/domains/validate" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!--   -->         
                </div>
                <div class="form-group">
                    <label for="dName" class="col-sm-4 control-label">Domain Scheme</label>
                    <div class="col-sm-7">
                        <input type="text" pattern="^http[s]?$" class="form-control" id="dScheme" name="dScheme" placeholder="Domain Scheme. for eg. http/https" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dName" class="col-sm-4 control-label">Collection Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="dColl" name="dColl" placeholder="Collection Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dName" class="col-sm-4 control-label">Stats Collection Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="dStatsColl" name="dStatsColl" placeholder="Stats Collection Name">
                    </div>
                </div>
                <div class="form-group col-sm-6 pull-right" style="margin-right:-28px;margin-top:10px;">
                    <button type="button" class="btn btn-default btn-urlite-r" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-green">Add Domain</button>
                </div>
            </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    function domainRequestHandler(res) {
        $('#domainCount').text(res.domain_count);
        d = res.domains;
        d.sortBy('-total');
        return d;
    }

    function assignCollName(n) {
        $('#dColl').val('urlite_' + n);
        $('#dStatsColl').val('urlite_' + n + '_stats');
    }

    function wpr() {
        $("#addDomain").click(function(){
            $("#domainAddModal")
            .on('shown.bs.modal', function (e) { //var button = $(e.relatedTarget)  //var modal = $(this)
                 $(this).find('.modal-body [name="dName"]').focus();
            })
            .on('hidden.bs.modal', function (e) {            
                $(this).find('.modal-body input').val('');
            })
            .modal('show');
        });

        $('#dName').focusout(function() {
            var v = $(this).val();
            if (v != "") {
                v = v.replace(/[\.|_|-]/g,'');
                v = v.length > 4 ? v.substr(0, 4) : v

                $.ajax({
                    url: '/admin/domains/validate',
                    data: 'dColl=' + v
                })
                .done(function(data, status, xhr) {
                    assignCollName(v);
                })
                .fail(function(xhr, status, errorThrown) {
                    assignCollName(xhr.responseJSON.suggested_name);
                });
            }
        });

        $('#domainForm').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                return false;
            } else {
                $.ajax({
                    url: '/admin/domains',
                    type: 'POST',
                    data: $('#domainForm').serialize()
                })
                .done(function(data, status, xhr) {
                    $("#domainAddModal").modal('hide');
                    $('#alert_container').bsAlert(data.message).bsHideAlert();
                    $('#domainsTable').bootstrapTable('refresh', {silent: true});
                })
                .fail(function(xhr, status, errorThrown) {
                    res = xhr.responseJSON;
                    $('#modal_alert').bsAlert(res.message, 'error');
                });

                return false;
            }
        });

        $('#dColl').keypress(function(e) {e.preventDefault(); return false;});
        $('#dStatsColl').keypress(function(e) {e.preventDefault(); return false;});
    }
</script>
{{end}}