{{define "domains"}}
<div class="row">
    <div class="panel panel-default panel-pad">
        <div class="panel-body admin-min-height">
        	<div class="row">
        		{{template "sidebar" .}}
		        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-0 main">
                    <div class="page-header domain-pg-hdr">
		        	 <h2>Domains
                         <div class="nav-form pull-right" style="margin-top:-5px">
                            <button type="button" class="btn btn-default btn-sm" style="width:65px">Add</button>
                         </div>
                     </h2>                     
                    </div>
		        	<div class="dcontent">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width:3%">Scheme</th>
                                    <th style="width:15%">Name</th>
                                    <th style="width:15%">Total Urlite</th>
                                    <th style="width:15%">Urlite</th>
                                    <th style="width:15%">Custom Urlite</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{range .Domains}}
                                <tr>
                                    <td>{{.Scheme}}</td>
                                    <td>{{.Name}}</td>
                                    {{$total := add .LinkCount .CustomLinkCount}}
                                    <td>{{num2str $total ','}}</td>
                                    <td>{{num2str .LinkCount ','}}</td>
                                    <td>{{num2str .CustomLinkCount ','}}</td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
		        	</div><!--/.dcontent -->
		        </div> <!--/.main -->
        	</div>
        </div> <!--/.panel-body -->
    </div>
</div>
{{end}}