{{define "home"}}
<div id="alert_container"></div>
<div class="jumbotron">
    <form id="urliteForm">
        <div class="form-inline text-center mt20">
            <div class="form-group form-group-sm">
                <select class="form-control" id="selectedDomain" name="selectedDomain" style="width:150px;">
                  <option>sample.com</option>
                  <option>example.com</option>
                </select>
            </div>
            <div class="form-group form-group-sm">
                <input type="text" class="form-control" id="customLinkName" name="customLinkName" placeholder="Custom Name">
            </div>
        </div>
        <div class="form-inline text-center mt10">
        	<div class="form-group">
        		<div class="input-group">
                    <input type="text" class="form-control input-lg" id="longUrl" name="longUrl" placeholder="Enter your long URL here" style="width: 475px;" autofocus="">
                    <span id="urliteBtn" class="input-group-addon btn btn-primary input-shorten" style="width:100px;">urlite</span>
                </div>
        	</div>
        </div>
    </form>
    <div id="urlitePanel" class="text-center mt40">
        <div id="urlite"></div>
    </div>
    <!-- <div class="stats-ribbon">
    {{.DomainCount}} domains, {{.AllLinkCount}} urlites and counting...
    </div> -->
</div>
<script type="text/javascript">
    function getUrlite(c) {
        if ($('#longUrl').isUrl()) {
            $.ajax({
                url: '/urlite',
                type: 'POST',
                data: $('#urliteForm').serialize()
            })
            .done(function(data, status, xhr) {
                $('#urlite').text(data.urlite);
            })
            .fail(function(xhr, status, errorThrown) {
                $('#alert_container').bsAlert(xhr.responseJSON.message, 'error').bsHideAlert();
            })
        }
    }

    function wpr() {
        $('#urliteBtn').click(function() {
            getUrlite($(this));
        });
     }
</script>
{{end}}