{{define "sidebar"}}
<div class="col-sm-3 col-md-2 sidebar admin-min-height">
	<ul class="nav nav-sidebar">
		<li {{if .IsDashboard}}class="active"{{end}}>
			<a href="/admin/dashboard">Dashboard{{if .IsDashboard}} <span class="sr-only">(current)</span>{{end}}</a>
		</li>
		<li><a href="#">Stats</a></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li {{if .IsDomains}}class="active"{{end}}>			
			<a href="/admin/domains">Domains{{if .IsDomains}} <span class="sr-only">(current)</span>{{end}}<span class="badge pull-right">{{.DomainCount}}</span></a>
		</li>
		<li {{if .IsUsers}}class="active"{{end}}>			
			<a href="/admin/users">Users{{if .IsUsers}} <span class="sr-only">(current)</span>{{end}}<span class="badge pull-right">{{.UserCount}}</span></a>
		</li>
	</ul>
</div> <!--/.sidebar -->
{{end}}