{{define "users"}}
<div class="row admin">
    <div id="alert_container"></div>
    <div class="panel panel-default panel-pad">
        <div class="panel-body admin-min-height">
        	<div class="row">
        		{{template "sidebar" .}}
		        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-0 main">
                    <div class="page-header user-pg-hdr">
		        	 <h2>Users
                         <div class="form-inline pull-right" style="margin-top:-5px">
                            <button type="button" class="btn btn-default btn-sm btn-urlite-g" id="addUser" style="width:65px">Add</button>
                         </div>
                     </h2>
                    </div>
		        	<div class="ucontent">
                        <table id="usersTable"
                               data-toggle="table"                               
                               data-classes="table table-no-bordered table-striped table-hover"
                               data-pagination="true"
                               data-ajax="userDataRequest"
                               data-side-pagination="server"
                               data-page-size="10"
                               data-sort-name="last_api_accessed"
                               data-sort-order="desc">
                            <thead>
                            <tr>
                                <th data-field="email" style="width:30%">Email</th>
                                <th data-field="domains" data-formatter="domainFormatter" style="width:29%">Domains</th>
                                <th data-field="last_logged_in" data-formatter="dateFormatter" style="width:18%">Last LoggedIn</th>
                                <th data-field="last_api_accessed" data-formatter="dateFormatter" style="width:18%">Last API Access</th>
                            </tr>
                            </thead>
                        </table>
		        	</div> <!--/.ucontent -->
		        </div> <!--/.main -->
        	</div>
        </div> <!--/.panel-body -->
    </div>
</div>
<script type="text/javascript">

</script>
<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="userAddModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="userAddModalLabel">Adding a new User</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <form id="userForm" method="post" class="form-horizontal">
                <div class="form-group has-feedback">
                    <label for="email" class="col-sm-4 control-label">Email Address</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="uemail" name="uemail" placeholder="User email address" data-error="User email address is required" required>
                        <span class="help-block with-errors"></span>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="userDomains" class="col-sm-4 control-label">Domains</label>
                    <div class="col-sm-7">
                        <div class="btn-group" id="userDomains" style="width:100%">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" role="button" aria-expanded="false" style="width:100%;text-align:left;">Domains <span class="caret pull-right" style="margin-top: 8px;"></span></button>
                            <ul class="dropdown-menu" style="width:100%;padding-left:15px;padding-bottom:15px;">
                            {{range .Domains}}
                                <li>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="{{.Name}}" {{if .IsDefault}}checked{{end}}> {{.Name}}</label>
                                    </div>
                                </li>
                            {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userPermissions" class="col-sm-4 control-label">Permissions</label>
                    <div class="col-sm-7">
                        <div class="btn-group" id="userPermissions" style="width:100%">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" role="button" aria-expanded="false" style="width:100%;text-align:left;">Permissions <span class="caret pull-right" style="margin-top: 8px;"></span></button>
                            <ul class="dropdown-menu" style="width:100%;padding-left:15px;padding-bottom:15px;">
                                <li>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="ADMIN"> Administrator</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="BASIC" checked> User</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="sUserDomains" name="sUserDomains" value="" />
                <input type="hidden" id="sUserPermissions" name="sUserPermissions" value="" />
                <div class="form-group col-sm-6 pull-right" style="margin-right:-48px;margin-top:10px;">
                    <button type="button" class="btn btn-default btn-urlite-r" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-green">Add User</button>
                </div>
            </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    function userDataRequest(req) {
        $.ajax({
            type: 'GET',
            url: '/admin/users/data',
            data: req.data,
            success: function(data){
                req.success({
                    total: data.total,
                    rows: data.result
                });
                req.complete();
            },
            error: function(){
                console.log('error in user data request');
            }
        });
    }

    function wpr() {
        $("#addUser").click(function(){
            $("#userAddModal")
            .on('shown.bs.modal', function (e) { //var button = $(e.relatedTarget)  //var modal = $(this)
                 $(this).find('.modal-body [name="email"]').focus();
            })
            .on('hidden.bs.modal', function (e) {            
                $(this).find('.modal-body input').val('');
            })
            .modal('show');
        });

        $.each(['#userDomains li label', '#userPermissions li label'], function(i, v) {
            $(v).each(function() {
                $(this).click(function(e){
                    e.stopPropagation();
                });
            });
        });

        $('#userForm').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                return false;
            } else {
                var domains = [];
                $('#userDomains input[type="checkbox"]:checked').each(function() {
                    domains.push($(this).val());
                });
                $('#sUserDomains').val(domains.join(','));

                var permissions = [];
                $('#userPermissions input[type="checkbox"]:checked').each(function() {
                    permissions.push($(this).val());
                });
                $('#sUserPermissions').val(permissions.join(','));
            }
        });

        {{if .AlertMsg}}$('#alert_container').bsAlert('{{.AlertMsg}}', '{{.AlertType}}').bsHideAlert();{{end}}
    }
</script>
{{end}}